body {
            background-color: white;
        }

        .container {
            color: black;
            display: flex;

        }

        nav {
            display: flex;
            margin: 23px 25px;
            gap: 25px 25px;
            justify-content: end;
            font-style: italic;
            font-weight: bold;
        }

        .UE {
            border-radius: 50%;
            display: flex;
            align-items: start;
            height: 35px;
            width: 35px;
            position: relative;
            top: -48px;
            left: 180px;
        }

        .text {
            color: black;
            font-size: 23px;
            font-style: normal;
            font-weight: bold;
            position: relative;
            top: -78px;
            left: 217px;
        }

        .text02 {

            color: black;
            font-size: 8px;
            font-style: normal;
            position: relative;
            top: -81px;
            left: 218px;
        }

        .content {
            display: flex;
            justify-content: center;
            font-size: 25px;
            font-weight: bold;

        }

        .mainc {
            display: flex;
            justify-content: center;
            font-size: 15px;
            row-gap: 25px;
        }

        .maincc2 {
            position: relative;
            top: 0px;
            left: 567px;
        }